# Web project (HTML/CSS/JS)

# Dependências
node_modules/

# Build / produção
dist/
build/

# Ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.parcel-cache/

# Sistema operacional
.DS_Store
Thumbs.db

# Editor de código
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
